*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.counter-container{
    padding: 20px;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%
}

#timer-display{
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    

}

#timer-display::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.btn{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.btn:hover{
    background-color: rgb(105, 152, 167) ;
    
}

.btn.stop{
    background-color: red;
    color: white;
}

.btn.stop:hover{
    background-color: rgb(134, 3, 3);
}

.btn.play{
    padding: 10px 15px;
    padding-top: 8px;
}