*{
    box-sizing: border-box;
}
.highlight{
    background-color: lightyellow;
    border: 1px solid goldenrod;
}

.pos{
    display: block;
}

.colorBox3{
    padding: 20px;
    border: 30px solid lightgreen;
    margin: 10px;
}

.colorBox4{
    padding: 20px;
    border: 30px solid lightblue;
    
}

.colorBox5{
    padding: 20px;
    border: 30px solid lightpink;
    
}

.colorBox6{
    padding: 20px;
    border: 30px solid lightcoral;
    display: flex;
    
}

.button7{
    
}